@charset "UTF-8";
/* CSS Document */


body {
  background: #f0f0eb;
}

ol li {
  background: transparent;
}

.views-field-field-ecomma-txt-value div {
  padding-bottom: 20px;
}

/* ecomma node view */

.pane-node-comment-form {
  display: none;
}

#ecomma .ecomma-tag-column {
  width: 45%;
}

.ec-full-text .views-row {
  padding: 5px 0px 10px;
}

div.ecomma_line {
  display: inline;
}

.ec-comment-info {
  background: #fff;
  padding: 0px 15px 10px;
}

.field-item {
  padding-bottom: 20px;
}

.ecomma_line span div {
  display: inline;
}

.ec-warning {
  color: #ac1a2f;
  font-size: 14px;
  padding-top: 10px;
}

#pane-community-tags-0 a.ec-hi {
  padding: 4px;
  background: #dd9090;
  color: #000;
}

.ec-hi-wcloud {
  padding: 4px;
  background-color: #ffff99;
  color: #ac1a2f;
}

.Partner1 {
  background: #4c9e6d;
  color: #fff;
  line-height: 25px;
}

.Partner2 {
  background: #dd9090;
  color: #fff;
  line-height: 25px;
}

.Partners {
  background: #d89ad2;
  color: #fff;
  line-height: 25px;
}

.Partner-all {
  background: #895b5b;
  color: #fff;
  line-height: 25px;
}

.not_FE {
  line-height: 25px;
  background: #dd9090;
  color: #000;
}

.FE {
  background: #ccff99;
  color: #000;
  line-height: 25px;
}

.comment_token {
  background: #71a3bf;
  font-size: 1.2em;
  margin: null;
  margin: 0px -2px 0px -1px;
  padding: 4px 2px;
  line-height: 25px;
}

.Partner1:hover,
.Partner2:hover,
.Partner3:hover {
  color: #ccc;
}

.ec-diff {
  margin: 0em -1px;
  padding: 4px 1px;
  background-color: #ffff99;
  color: #ac1a2f;
}

.ec-em {
  font-style: italic;
}

.ec-sc {
  font-variant: small-caps;
}

.ec-form-message {
  clear: both;
  color: #ac1a2f;
  margin-bottom: 6px;
}

.pane-ecomma-1 {
  display: none;
  padding: 1em 1.4em;
}

/* ****************************************************************************
 * blocks / tag cloud /  word cloud
 * ****************************************************************************
 */

.floating-box {
  width: 100%;
  background: #ccc;
  height: inherit;
  padding: 0px 15px 20px;
  border: 1px solid #fff;
}

.pane-block,
.pane-block .pane-content {
  width: 250px;
  min-height: 200px;
}

.word_cloud,
.comment_cloud {
  padding-bottom: 30px;
}

.word_cloud .word_cloud_tag {
  display: inline;
}

.front .word_cloud h1,
.word_cloud h1 {
  font-size: 12px;
}

.front .word_cloud h2,
.word_cloud h2 {
  font-size: 20px;
}

.front .word_cloud h3,
.word_cloud h3 {
  font-size: 24px;
}

.front .word_cloud h4,
.word_cloud h4 {
  font-size: 30px;
}

.front .word_cloud h5,
.word_cloud h5 {
  font-size: 36px;
}

.front .word_cloud h6,
.word_cloud h6,
.front .comment_cloud h7,
.comment_cloud h7,
.front .comment_cloud h8,
.comment_cloud h8,
.front .comment_cloud h9,
.comment_cloud h9,
.front .comment_cloud h10,
.comment_cloud h10,
.front .comment_cloud h11,
.comment_cloud h11,
.front .comment_cloud h12,
.comment_cloud h12,
.front .comment_cloud h13,
.comment_cloud h13,
.front .comment_cloud h14,
.comment_cloud h14,
.front .comment_cloud h15,
.comment_cloud h15,
.front .comment_cloud h16,
.comment_cloud h16,
.front .comment_cloud h17,
.comment_cloud h17,
.front .comment_cloud h18,
.comment_cloud h18,
.front .comment_cloud h19,
.comment_cloud h19,
.front .comment_cloud h20,
.comment_cloud h20,
.front .comment_cloud h21,
.comment_cloud h21,
.front .comment_cloud h22,
.comment_cloud h22,
.front .comment_cloud h23,
.comment_cloud h23,
.front .comment_cloud h24,
.comment_cloud h24,
.front .comment_cloud h25,
.comment_cloud h25,
.front .comment_cloud h26,
.comment_cloud h26,
.front .comment_cloud h27,
.comment_cloud h27,
.front .comment_cloud h28,
.comment_cloud h28,
.front .comment_cloud h29,
.comment_cloud h29,
.front .comment_cloud h30,
.comment_cloud h30 {
  font-size: 42px;
}

.ui-widget-content .word_cloud a {
  padding-bottom: 1px;
  margin: 4px;
  display: inline-block;
  color: #92b22c;
}

.word_cloud a:hover {
  text-decoration: none;
  color: #063;
}

.cloud a.not-ec,
div.tag-widget ul.inline-tags li.not-ec {
  display: none;
}

.front .comment_cloud h1,
.comment_cloud h1,
.front .comment_cloud h2,
.comment_cloud h2,
.front .comment_cloud h3,
.comment_cloud h3,
.front .comment_cloud h4,
.comment_cloud h4,
.front .comment_cloud h5,
.comment_cloud h5,
.front .comment_cloud h6,
.comment_cloud h6,
.front .comment_cloud h7,
.comment_cloud h7,
.front .comment_cloud h8,
.comment_cloud h8,
.front .comment_cloud h9,
.comment_cloud h9,
.front .comment_cloud h10,
.comment_cloud h10,
.front .comment_cloud h11,
.comment_cloud h11,
.front .comment_cloud h12,
.comment_cloud h12,
.front .comment_cloud h13,
.comment_cloud h13,
.front .comment_cloud h14,
.comment_cloud h14,
.front .comment_cloud h15,
.comment_cloud h15,
.front .comment_cloud h16,
.comment_cloud h16,
.front .comment_cloud h17,
.comment_cloud h17,
.front .comment_cloud h18,
.comment_cloud h18,
.front .comment_cloud h19,
.comment_cloud h19,
.front .comment_cloud h20,
.comment_cloud h20,
.front .comment_cloud h21,
.comment_cloud h21,
.front .comment_cloud h22,
.comment_cloud h22,
.front .comment_cloud h23,
.comment_cloud h23,
.front .comment_cloud h24,
.comment_cloud h24,
.front .comment_cloud h25,
.comment_cloud h25,
.front .comment_cloud h26,
.comment_cloud h26,
.front .comment_cloud h27,
.comment_cloud h27,
.front .comment_cloud h28,
.comment_cloud h28,
.front .comment_cloud h29,
.comment_cloud h29,
.front .comment_cloud h30,
.comment_cloud h30 {
  display: inline-block;
  margin: 4px;
  color: #000;
  font-family: Arial;
  text-transform: none;
}

.front .comment_cloud h1,
.comment_cloud h1 {
  font-size: 12px;
}

.front .comment_cloud h2,
.comment_cloud h2 {
  font-size: 20px;
}

.front .comment_cloud h3,
.comment_cloud h3 {
  font-size: 24px;
}

.front .comment_cloud h4,
.comment_cloud h4 {
  font-size: 30px;
}

.front .comment_cloud h5,
.comment_cloud h5 {
  font-size: 36px;
}

.front .comment_cloud h6,
.comment_cloud h6,
.front .comment_cloud h7,
.comment_cloud h7,
.front .comment_cloud h8,
.comment_cloud h8,
.front .comment_cloud h9,
.comment_cloud h9,
.front .comment_cloud h10,
.comment_cloud h10,
.front .comment_cloud h11,
.comment_cloud h11,
.front .comment_cloud h12,
.comment_cloud h12,
.front .comment_cloud h13,
.comment_cloud h13,
.front .comment_cloud h14,
.comment_cloud h14,
.front .comment_cloud h15,
.comment_cloud h15,
.front .comment_cloud h16,
.comment_cloud h16,
.front .comment_cloud h17,
.comment_cloud h17,
.front .comment_cloud h18,
.comment_cloud h18,
.front .comment_cloud h19,
.comment_cloud h19,
.front .comment_cloud h20,
.comment_cloud h20,
.front .comment_cloud h21,
.comment_cloud h21,
.front .comment_cloud h22,
.comment_cloud h22,
.front .comment_cloud h23,
.comment_cloud h23,
.front .comment_cloud h24,
.comment_cloud h24,
.front .comment_cloud h25,
.comment_cloud h25,
.front .comment_cloud h26,
.comment_cloud h26,
.front .comment_cloud h27,
.comment_cloud h27,
.front .comment_cloud h28,
.comment_cloud h28,
.front .comment_cloud h29,
.comment_cloud h29,
.front .comment_cloud h30,
.comment_cloud h30 {
  font-size: 42px;
}

.comment_cloud span {
  padding-bottom: 1px;
  margin: 4px;
  display: inline-block;
  word-break: break-all;
}

.container {
  width: 500px;
  margin: 10px auto;
}

ul.ecomma_tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 32px;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  width: 100%;
}

ul.ecomma_tabs li {
  float: left;
  margin: 0;
  padding: 0;
  height: 31px;
  line-height: 31px;
  border: 1px solid #999;
  border-left: none;
  margin-bottom: -1px;
  background: #e0e0e0;
  overflow: hidden;
  position: relative;
}

ul.ecomma_tabs li a {
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 1.2em;
  padding: 0 10px;
  border: 1px solid #fff;
  outline: none;
}

ul.ecomma_tabs li a:hover {
  background: #ccc;
}

ul.ecomma_tabs li.active,
ul.ecomma_tabs li.active a:hover {
  background: #fff;
  border-bottom: 1px solid #fff;
}

.tab_container {
  border: 1px solid #999;
  border-top: none;
  clear: both;
  width: 100%;
  background: #fff;
  -moz-border-radius-bottomright: 5px;
  -khtml-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -khtml-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

.tab_content h2 {
  font-weight: normal;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ddd;
  font-size: 1.8em;
}
.tab_content h3 a {
  color: #254588;
}

/* ****************************************************************************
 * All-purpose classes for layout.
 * ****************************************************************************
 */

.ec-clear {
  clear: both;
}

.ec-block {
  clear: both;
  margin-bottom: 4px;
}

div.white-box div.inside div.ec-message {
  font-size: 13px;
  color: #ac1a2f;
  margin-bottom: 11px;
}

#ec-header {
  padding-bottom: 24px;
  margin-bottom: 18px;
  height: 90px;
}

p.ec-welcome,
p.ec-edition-list {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #e3e1d1;
}

div.ec-input,
div.ec-submit,
div.ec-input-image {
  clear: right;
}

div.ec-input label {
  float: left;
}

div.ec-input input,
div.ec-submit input {
  float: right;
  width: 70px;
  font: normal 10px Arial, sans-serif;
  color: #666;
  padding: 1px 2px 1px 2px;
  margin-bottom: 4px;
}

#user-reset-password_form div.ec-input input,
#user-reset-request-form  div.ec-input input,
#user-register-form div.ec-input input {
  margin-right: 300px;
}

div.ec-input-image input {
  margin-top: 4px;
  float: right;
}

div.ec-stanza,
div.ec-stanza-selected,
div.ec-stanza-other,
div.ec-stanza-tag-list {
  font-family: Arial;
  font-size: 11pt;
  line-height: 1.75em;
  padding: 1em 0em 0em 0em;
  margin: 0em 0em 0em 0em;
  border-top: 1px solid #e3e1d1;
}

div.ec-preface,
div.ec-fg-notes {
  font-family: Georgia;
  text-align: justify;
  font-size: 9pt;
  line-height: 1.75em;
  padding: 8px 20px 8px 20px;
  margin: 0em 0em 0em 0em;
}

div.ec-preface h3,
div.ec-fg-notes h3 {
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e3e1d1;
}

div.ec-preface h4 {
  text-align: center;
  margin: 24px 0px;
}

#content div.ec-preface div.tan-box {
  margin: 0px 0px 8px 20px;
  text-align: justify;
  font-size: 7.5pt;
  float: right;
  width: 180px;
}

div.ec-stanza-subtitle {
  text-align: center;
  padding: 12px 0px 10px 0px;
  border-top: 1px solid #e3e1d1;
}

div.ec-stanza-selected,
div.ec-stanza-other {
  padding: 1em 12px 0em 12px;
  margin: 0em -12px 0em -12px;
}

div.ec-stanza-other,
div.ec-stanza-other div.ec-stanza-anno-count a.ec-zero-count {
  background-color: #e6ffcc;
}

div.ec-stanza-tag-list {
  background-image: url(../img/swirl.png);
  background-repeat: repeat-x;
}

div.ec-stanza-lines {
  padding: 0.25em 0em 1.5em 0em;
}

div.ec-preface div.ec-stanza-lines {
  padding: 0.25em 0em;
}

div.ec-edition-title {
  font-family: Georgia;
}

div.ec-preface h3,
div.ec-preface-title h3,
div.white-box div.inside h3,
#ec-comment-selection-box h3,
h4 {
  color: #935c25;
  font-family: Georgia;
}

div.ec-preface a h3,
div.ec-preface-title a h3,
div.white-box div.inside a h3,
#ec-comment-selection-box a h3,
a h4 {
  color: #3e7df9;
  font-family: Georgia;
}

div.ec-preface a:hover h3,
div.ec-preface-title a:hover h3,
div.white-box div.inside a:hover h3,
#ec-comment-selection-box a:hover h3,
a:hover h4 {
  color: #91bbf9;
}

/*nst added */
div.ec-edition-title h3 {
  font-family: Georgia;
  font-size: 24px;
  color: #ac1a2f;
}

div.ec-edition-title h3 a,
div.ec-preface-title h3 a,
div.white-box div.inside h3 a,
h4 a {
  font-family: Georgia;
  text-decoration: none;
  /*color: #453b26;*/
  color: #935c25;
}

div.ec-preface-title {
  padding-top: 8px;
  border-top: 1px solid #e3e1d1;
}

h4 a.ec-comment-user {
  text-decoration: underline;
}

h4.ec-stanza-title,
div.ec-stanza-subtitle h4 {
  font-size: 19px;
  font-family: Georgia;
  margin-bottom: 2px;
}

div.ec-stanza-tag-list h3.ec-stanza-title {
  margin-bottom: 12px;
}

#ec-comment-selection-box h3 {
  color: #453b26;
  font-family: Georgia;
  padding-bottom: 4px;
  margin-bottom: 0px;
}

div.ec-stanza-anno {
  font: bold 10px Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 6px;
}

div.ec-stanza-anno a {
  text-decoration: none;
}

div.ec-stanza-anno-links {
  float: left;
}

div.ec-stanza-anno-links a {
  color: #a17500;
}

div.ec-stanza-anno-links a:hover {
  color: #ac1a2f;
}

div.ec-stanza-links {
  padding: 0.5em;
  font: bold 10px Arial, sans-serif;
  text-transform: uppercase;
  border-top: 1px solid #e3e1d1;
}

div.ec-stanza-links ol {
  list-style-type: none;
}

div.ec-stanza-links ol li {
  display: inline;
}

div.ec-stanza-links a,
div.ec-stanza-links span {
  color: #a17500;
  text-decoration: none;
}

div.ec-stanza-adjacent {
  padding-top: 6px;
  border-top: 1px solid #e3e1d1;
}

div.ec-prev {
  float: left;
}

div.ec-next {
  float: right;
}

img.ec-icon {
  float: left;
  margin: 0px 12px 12px 0px;
}

div.stanza-nav {
  height: 25px;
  margin: 12px 12px;
}

.tan-box h3 {
  font: bold 10px Arial, sans-serif;
  color: #a17500;
  text-transform: uppercase;
  padding-bottom: 6px;
  border-bottom: 1px solid #cbcbb7;
}

#content .ec-help {
  font-family: Arial, sans-serif;
  padding-bottom: 0px;
  margin-bottom: 6px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.tan-box .ec-help {
  border-bottom-color: #cbcbb7;
}

.white-box .ec-help {
  border-bottom-color: #e3e1d1;
}

#content .ec-help p {
  margin-bottom: 6px;
}

.tan-box .ec-selection-text {
  border-bottom: 1px solid #cbcbb7;
}

.white-box .ec-selection-text {
  font-family: Georgia;
  font-size: 9pt;
  line-height: 1.75em;
  background-color: #e0edf6;
  padding: 4px 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #e3e1d1;
  border-top: 1px solid #e3e1d1;
}

.ec-tag-selection-text {
  font-family: Georgia;
  font-size: 9pt;
  line-height: 1.75em;
  background-color: #f3dee1;
  padding: 4px 8px;
  margin-bottom: 0px;
  border-top: 1px solid #e3e1d1;
}

.ec-tag-selection-text a {
  text-decoration: none;
  font-family: Georgia;
  font-size: 9pt;
  line-height: 1.75em;
}


/* ****************************************************************************
 * Tag clouds.
 * ****************************************************************************
 */

ol.tag-cloud {
  font-family: Georgia, sans-serif;
  margin: 0em 0em;
  padding: 12px 0em;
  list-style-type: none;
  border-width: 1px;
  border-style: solid none none none;
  border-color: #e3e1d1;
  text-align: justify;
}

ol.tag-cloud > li {
  display: inline;
  padding: 0px;
  line-height: 2em;
}

ol.tag-cloud > li > a {
  color: #ac1a2f;
  padding: 0em 0.25em;
  text-decoration: none;
}

ol.tag-cloud > li > a.m-0 {
  font-size: 0.8em;
}

ol.tag-cloud > li > a.m-1 {
  font-size: 0.9em;
}

ol.tag-cloud > li > a.m-2 {
  font-size: 1.0em;
}

ol.tag-cloud > li > a.m-3 {
  font-size: 1.2em;
}

ol.tag-cloud > li > a.m-4 {
  font-size: 1.4em;
}

ol.tag-cloud > li > a.m-5 {
  font-size: 1.6em;
}

ol.tag-cloud > li > a.m-6 {
  font-size: 1.8em;
}

ol.tag-cloud > li > a.m-7 {
  font-size: 2.0em;
}

ol.tag-cloud > li > a.m-8 {
  font-size: 2.2em;
}

ol.tag-cloud > li > a.m-9 {
  font-size: 2.5em;
}

div.ec-stanza-anno-count {
  float: right;
}

div.ec-stanza-anno-count a {
  padding: 0px 4px;
  color: #ffffff;
}

span.tag_comment_prompt {
  color: #bbb;
}

div.ec-stanza-other div.ec-stanza-anno-count a.ec-tag-w0,
div.ec-stanza-other div.ec-stanza-anno-count a.ec-comment-w0 {
  color: #e6ffcc;
  background-color: #e6ffcc;
}

.ec-tag-w0 {
  background-color: #ffffff;
}

.ec-tag-w1 {
  background-color: #e7bdc3;
}

.ec-tag-w2 {
  background-color: #db9ca5;
}

.ec-tag-w3 {
  background-color: #db9ca5;
}

.ec-tag-w4 {
  background-color: #cf7c88;
}

.ec-tag-w5 {
  background-color: #c35b6a;
}

.ec-tag-w6 {
  background-color: #b73a4c;
}

.ec-tag-w7 {
  background-color: #ac1a2f;
}

.ec-tag-w0:hover {
  background-color: #ac1a2f;
}

.ec-tag-w1:hover {
  background-color: #ac1a2f;
}

.ec-tag-w2:hover {
  background-color: #ac1a2f;
}

.ec-tag-w3:hover {
  background-color: #ac1a2f;
}

.ec-tag-w4:hover {
  background-color: #ac1a2f;
}

.ec-tag-w5:hover {
  background-color: #ac1a2f;
}

.ec-tag-w6:hover {
  background-color: #ac1a2f;
}

.ec-tag-w7:hover {
  background-color: #ac1a2f;
}

.ec-comment-w0 {
  background-color: #ffffff;
}

.ec-comment-w1 {
  background-color: #c1dced;
}

.ec-comment-w2 {
  background-color: #a2cbe4;
}

.ec-comment-w3 {
  background-color: #a2cbe4;
}

.ec-comment-w4 {
  background-color: #83b9dc;
}

.ec-comment-w5 {
  background-color: #64a8d3;
}

.ec-comment-w6 {
  background-color: #4597ca;
}

.ec-comment-w7 {
  background-color: #2786c2;
}

.ec-comment-w0:hover {
  background-color: #2786c2;
}

.ec-comment-w1:hover {
  background-color: #2786c2;
}

.ec-comment-w2:hover {
  background-color: #2786c2;
}

.ec-comment-w3:hover {
  background-color: #2786c2;
}

.ec-comment-w4:hover {
  background-color: #2786c2;
}

.ec-comment-w5:hover {
  background-color: #2786c2;
}

.ec-comment-w6:hover {
  background-color: #2786c2;
}

.ec-comment-w7:hover {
  background-color: #2786c2;
}

ol.ec-word-cloud,
ol.ec-tag-cloud,
ol.ec-gloss-cloud {
  margin: 12px 0px 12px 0px;
  padding: 0px;
  list-style-type: none;
  text-align: justify;
}

ol.ec-word-cloud li,
ol.ec-tag-cloud li,
ol.ec-gloss-cloud li {
  display: inline;
  /*padding: 0px;*/
  padding: 0px 5px 0px 0px;
  line-height: 2em;
}

ol.ec-word-cloud li a,
ol.ec-gloss-cloud li a,
ol.ec-tag-cloud  li a {
  text-decoration: none;
}

ol.ec-word-cloud li a.ec-hi,
ol.ec-tag-cloud  li a.ec-hi {
  color: #ac1a2f;
}

ol.ec-gloss-cloud li a.ec-hi {
  color: #393;
}

ol.ec-word-cloud li a {
  color: #a17500;
}

ol.ec-tag-cloud a.ec-w0 {
  color: #cf7c88;
  font-size: 0.2em;
}

ol.ec-tag-cloud a.ec-w1 {
  color: #cf7c88;
  font-size: 0.8em;
}

ol.ec-tag-cloud a.ec-w2 {
  color: #c35b6a;
  font-size: 1.0em;
}

ol.ec-tag-cloud a.ec-w3 {
  color: #c35b6a;
  font-size: 1.2em;
}

ol.ec-tag-cloud a.ec-w4 {
  color: #b73a4c;
  font-size: 1.4em;
}

ol.ec-tag-cloud a.ec-w5 {
  color: #b73a4c;
  font-size: 1.6em;
}

ol.ec-tag-cloud a.ec-w6 {
  color: #ac1a2f;
  font-size: 1.8em;
}

ol.ec-tag-cloud a.ec-w7 {
  color: #ac1a2f;
  font-size: 2.2em;
}


ol.ec-gloss-cloud a.ec-w0 {
  color: #393;
  font-size: 1.6em;
}

ol.ec-gloss-cloud a.ec-w1 {
  color: #393;
  font-size: 1.6em;
}

ol.ec-gloss-cloud a.ec-w2 {
  color: #393;
  font-size: 1.6em;
}

ol.ec-gloss-cloud a.ec-w3 {
  color: #393;
  font-size: 1.6em;
}

ol.ec-gloss-cloud a.ec-w4 {
  color: #393;
  font-size: 1.6em;
}

ol.ec-gloss-cloud a.ec-w5 {
  color: #393;
  font-size: 1.6em;
}

ol.ec-gloss-cloud a.ec-w6 {
  color: #393;
  font-size: 1.6em;
}

ol.ec-gloss-cloud a.ec-w7 {
  color: #393;
  font-size: 1.6em;
}

ol.ec-word-cloud a.ec-w0 {
  font-size: 0.8em;
}

ol.ec-word-cloud a.ec-w1 {
  font-size: 1.6em;
}

ol.ec-word-cloud a.ec-w2 {
  font-size: 2.2em;
}

ol.ec-word-cloud a.ec-w3 {
  font-size: 2.4em;
}

ol.ec-word-cloud a.ec-w4 {
  font-size: 2.6em;
}

ol.ec-word-cloud a.ec-w5 {
  font-size: 2.8em;
}

ol.ec-word-cloud a.ec-w6 {
  font-size: 3.0em;
}

ol.ec-word-cloud a.ec-w7 {
  font-size: 3.2em;
}

.user_data_sorting {
  padding-top: 20px;
  background: #aaa;
}

.user_data_sorting li {
  display: inline;
  padding-right: 20px;
  background: #aaa;
}

.user_data_sorting td {
  background: #aaa;
}

.user_data_sorting td a {
  color: #fff;
}

.user_data_sorting li a {
  color: #fff;
}

ol.ec-tag-list {
  margin: 0px -12px;
  max-height: 180px;
  overflow-y: scroll;
  list-style: none;
}

ol.ec-item-list {
  list-style: none;
}

ol.ec-tag-list li {
  padding: 8px 12px;
  border-top: 1px solid #cbcbb7;
}

ol.ec-tag-list li a,
ol.ec-item-list li a,
.ec-tag a {
  font-weight: bold;
  color: #ac1a2f;
}

ol.ec-tag-list li a.ec-user-name,
ol.ec-item-list li a.ec-user-name,
.ec-tag a.ec-user-name {
  font-weight: normal;
  color: #666;
}

ol.ec-tag-list li a.ec-tag-user,
ol.ec-tag-list li a.ec-note-user,
.ec-tag a.ec-tag-user {
  font-weight: normal;
  color: #666666;
}

ol.ec-tag-list li div.ec-tag-item,
div.ec-tag-item,
.ec-comment-item {
  font-family: Arial;
  margin-bottom: 2px;
}

div.white-box ol.ec-tag-list {
  margin: 0px 0px 0px 0px;
}

div.white-box ol.ec-item-list {
  margin: 0px 0px 12px 0px;
  border-bottom: 1px solid #e3e1d1;
}

div.white-box ol.ec-tag-list li,
div.white-box ol.ec-item-list li,
.ec-tag {
  padding: 8px 6px;
  border-top: 1px solid #e3e1d1;
}

#content p.ec-selection-text {
  border-bottom: 1px solid #cbcbb7;
  font-family: Georgia;
  font-size: 9pt;
  line-height: 1.75em;
  padding: 0em 0em 0.75em 0em;
  margin-bottom: 8px;
}

div.ec-comment-list {
  padding-left: 16px;
}

div.ec-comment-list {
  padding-top: 0px;
}

div.ec-comment {
  padding: 0px 0px 0px 0px;
}

div.ec-comment-list div.ec-comment {
  padding-top: 8px;
  border-top: 1px solid #e3e1d1;
  background-image: url(../img/swirl.png);
  background-repeat: repeat-x;
}

#content div.ec-comment p {
  margin-bottom: 12px;
}

#content div.ec-comment p.ec-last {
  margin-bottom: 0px;
}

div.ec-comment h4 {
  font-family: Georgia;
  margin-bottom: 2px;
}

div.comment {
  width: inherit;
}

div.comment h3,
div.comment .submitted {
  display: inline;
}

div.ec-comment h4.ec-comment-title,
div.comment h3 a {
  margin-bottom: 6px;
}

h4.ec-comment-title,
a.ec-comment-title,
ol.ec-item-list li a.ec-comment-title,
div.comment h3 a {
  font-weight: bold;
  color: #2786c2;
}

div.ec-comment-date,
div.comment .submitted {
  margin-bottom: 8px;
  font: bold 10px Arial, sans-serif;
  padding: 0px 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #a17500;
}

div.comment .submitted a {
  font-family: Arial;
  text-decoration: underline;
  /*color: #453b26;*/
  color: #935c25;
  text-transform: none;
  font-size: 13px;
}

div.ec-comment-range {
  background-color: #e0edf6;
  padding: 4px 8px;
  margin: 0em 0em 0em 0em;
  border-top: 1px solid #e3e1d1;
}

div.ec-comment-range a {
  text-decoration: none;
  font-family: Georgia;
  font-size: 9pt;
  line-height: 1.75em;
}

div.ec-comment-content {
  font-family: Georgia;
  font-size: 9pt;
  line-height: 1.75em;
  padding: 12px 10px 0px 10px;
  margin: 0px 0px 10px;
  border-top: 1px solid #e3e1d1;
  border-bottom: 1px solid #e3e1d1;
  background: #e0edf6;
}

#ec-comment-selection-text {
  border-top: 1px solid #e3e1d1;
  border-bottom: 1px solid #e3e1d1;
  padding: 0px 10px 10px;
  margin: 10px 5px 5px;
  background: #e0edf6;
}

div.ec-comment-divider {
  height: 4px;
  background-color: #e0edf6;
}

div.ec-comment-response {
  border-top: 1px solid #e0edf6;
  padding: 8px 0px;
}

.ec-tag-date,
.ec-comment-date,
.ec-note-date,
.ec-item-list .ec-comment-date {
  font: bold 10px Arial, sans-serif;
  color: #a17500;
  text-transform: uppercase;
}

div#ec-tag-result {
  font-size: 9pt;
}

div#ec-tag-result .ec-help {
  padding-top: 8px;
  margin-bottom: 0px;
  border-top: 1px solid #e3e1d1;
  border-bottom-style: none;
}

.ec-tag-active,
.ec-tag-inactive {
  background-image: url('../img/tag-xsmall.png');
  background-repeat: no-repeat;
  background-position: center right;
}

.ec-note-active,
.ec-note-inactive {
  background-image: url('../img/note-xsmall.png');
  background-repeat: no-repeat;
  background-position: center right;
}

li.ec-user-admin {
  background-repeat: no-repeat;
  background-position: center right;
  margin: 0px;
}

ol.ec-user-list {
  list-style: none;
  margin: 0px 0px 12px 0px;
}

ol.ec-user-list li {
  padding: 6px 0px 6px 6px;
  border-bottom: 1px solid #cbcbb7;
}

ol.ec-user-list li span {
  font: bold 10px Arial, sans-serif;
  color: #a17500;
  display: block;
  text-transform: uppercase;
}

form#user-reset-password_form div.ec-input input,
form#user-register-form div.ec-input input,
form#user-reset-request-form div.ec-input input {
  width: 150px;
}

.submit_button {
  background: #925b1d;
  color: #fff;
  border: 0px;
  padding: 5px 10px;
  text-align: center;
}

input.submit_button:hover {
  background: #cd8229;
  color: #fff;
}

.view-ecomma .views-row,
.view-ecomma .views-field-token {
  display: inline;
}

.view-ecomma h3 {
  font-size: inherit;
  font-weight: normal;
}

span.punctuation {
  margin-left: -4px;
}

.login-prompt {
  padding-bottom: 20px;
}

#highlight_all_comments .comment_off {
  background: #96d0ea;
}

#highlight_all_comments .comment_on {
  background: #71a3bf;
}

#highlight_all_comments .tags_off {
  background: #f4d7d7;
}

#highlight_all_comments .tags_on {
  background: #dd9090;
}

.levelundefined,
.clear-block .comment_hide {
  display: none;
}

.line_number {
  padding: 0px 3px 0px 5px;
  margin-right: 12px;
  border-right: 1px #666 solid;
  float: left;
  width: 20px;
}

div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable {
  width: 309px !important;
}